@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&display=swap'); 

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav h1{
    font-weight: bolder;
    font-size: 5vh; 
    letter-spacing: 0.4vh;
    text-align: center;
    margin-top: 1vh;
    color: #FFCA34;
    text-shadow: 1px 1px 0 #2B2E34;
    font-family: 'Inter', sans-serif;

}

nav .utpl-logo{
    float: right;
}