html,
body {
    min-height: 200vh;
}

.card {
    width: 99.5%;
    height: auto;
    border-radius: 2vh;
    border-color: rgb(197, 197, 197);
    border-width: 0.4vh;

}

.card .card-header {
    font-size: 3.5vh;
    font-weight: bolder;
}

