<main>
    <div class="form-menu ml-2 mt-4">
        <div class="card">
            <div class="card-header pt-3 pl-4 pb-3 ">Datos de Identificación del
                IMC</div>
            <app-imc-form class="mt-4 ml-4 mb-4"></app-imc-form>
        </div>

        <div class="card mt-4">
            <div class="card-header pt-3 pl-4 pb-3 ">Datos de Mejoramiento
                Continuo</div>
            <app-mejoramiento-continuo-menu class="mt-4 ml-4 mb-4"></app-mejoramiento-continuo-menu>
        </div>
    </div>
</main>

<app-save-data-btn></app-save-data-btn>