<main>
    <div class="form-menu ml-2 mt-4">
        <div class="card pb-4">
            <div class="card-header pt-3 pl-4 pb-3 ">Datos: Etapa Verificar</div>
            <form class="pl-4 pt-4 mb-4" [formGroup]="form">
                <div class="mt-4">
                    <label for="situacion">Situación actual</label><br>
                    <textarea formControlName="situacion_actual" rows="6" cols="80" name="situacion"
                        placeholder="Escriba aquí qué es lo que sucedió con la
                        situación inicial que quería ser mejorada, luego de que
                        se implementó el o los cambio/s en este ciclo rápido
                        (mejoró, quedó igual, empeoró)"></textarea><br>
                </div>

                <div class="mt-4" style="width: 50%;">
                    <label>Se debe colocar el valor del indicador establecido en
                        la etapa <a routerLink="/desarrollar" target="_blank"
                            rel="noopener noreferrer">Desarrollar</a> que se
                        obtuvo antes de establecer el ciclo y el que se obtuvo
                        después para analizar el impacto de los cambios:</label>
                    <div class="grid-container mt-4 mb-4">
                        <p></p>
                        <p><strong>Porcentaje Antes</strong></p>
                        <p><strong>Porcentaje Despues</strong></p>
                    </div>
                    <div formArrayName="indicadores">
                        <div class="grid-container mt-4" style="justify-content:
                            center;
                            align-items: center;" *ngFor="let indicador of
                            indicadores().controls; let
                            i=index"
                            [formGroupName]="i">
                            <p><strong>Indicador {{i+1}}</strong></p>
                            <input type="number" name="" value=""
                                style="text-align:
                                right;" placeholder="%"
                                formControlName="indicador_id">
                            <input type="number" name="" value=""
                                style="text-align:
                                right;" placeholder="%"
                                formControlName="porcentaje">
                        </div>
                    </div>
                </div>

                <div class="grid-container" style="justify-content: center;
                    align-items: center; width: 50%;">
                    <button class="btn btn-md btn-dark mt-4 mb-2"
                        (click)="addIndicador()"><span
                            class="glyphicon glyphicon-calendar">+</span></button>
                    <p> </p>
                    <p> </p>

                </div>
            </form>
        </div>
    </div>
</main>

<app-save-data-btn> </app-save-data-btn>