<main>
    <div class="form-menu ml-2 mt-4">
        <div class="card pb-4">
            <div class="card-header pt-3 pl-4 pb-3 ">Datos: Etapa Planificar</div>
            <form class="pl-4 pt-4 mb-4" [formGroup]="form">
                <label>Cambios (Estrategias, intervenciones)</label><br>

                <div formArrayName="cambios">
                    <div *ngFor="let cambio of cambios.controls; let
                        i=index" [formGroupName]="i" class="card mb-4"
                        style="padding: 1vh;">

                        <label class="mt-4">Actividad</label><br>
                        <input type="text" formControlName="actividad"><br>
                        
                        <label class="mt-4">Dónde</label><br>
                        <input type="text" formControlName="donde"><br>

                        <label class="mt-4">Fecha de Inicio</label><br>
                        <app-date-picker (dateSender)="receiveStartDate($event)"></app-date-picker>

                        <label class="mt-4">Fecha de Finalización</label><br>
                        <app-date-picker (dateSender)="receiveEndDate($event)"></app-date-picker>

                        <label class="mt-4">Recursos</label><br>
                        <input type="text" formControlName="recursos"
                            placeholder="Separe los recursos con coma ( , )"><br>

                        <label class="mt-4">Responsables</label><br>
                        <input type="text" formControlName="responsables"
                            placeholder="Separe los responsables con coma ( ,
                            )"><br>
                    </div>
                </div>
            </form>


            <button class="btn btn-md btn-dark mt-4 mb-2"
                (click)="addCambio()"><span
                    class="glyphicon glyphicon-calendar">+</span></button>
        </div>

    </div>
</main>

<app-save-data-btn> </app-save-data-btn>
