<main>
    <div class="form-menu ml-2 mt-4">
        <div class="card pb-4">
            <div class="card-header pt-3 pl-4 pb-3 ">Datos Etapa Planificar</div>
            <div class="pl-4 pt-4 mb-4">
                <label>Cambios (Estrategias, intervenciones)</label><br>
                <form class="card p-4">
                    <div>
                        <label class="mt-4">Actividad</label><br>
                        <input type="text"><br>

                        <label class="mt-4">Dónde</label><br>
                        <input type="text"><br>

                        <label class="mt-4">Fecha de Inicio</label><br>
                        <app-date-picker></app-date-picker>

                        <label class="mt-4">Fecha de Finalización</label><br>
                        <app-date-picker></app-date-picker>

                        <label class="mt-4">Recursos</label><br>
                        <input type="text"><br>

                        <label class="mt-4">Responsables</label><br>
                        <input type="text"><br>


                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<app-save-data-btn> </app-save-data-btn>
