select {
    width: 50%;
    height: 6vh;
    border-radius: 1.4vh;
    padding-left: 2%;
    padding-right: 2%;
}

div {
    padding-left: 3vh;
}


input {
    width: 50%;
    height: 6vh;
    border-radius: 1.4vh;
    padding-left: 2%;
    padding-right: 2%;
}



div label {
    font-size: 1.25em;
    color: #41444B;
}

select {
    background-color: #EAEAEA;
    font-size: 1.1em;
}

.integrantes_form_group * {
    margin-bottom: 0em;
}

.btn {
    font-size: 1.4em;
    padding: 0%;
    border-radius: 50%;
    width: 4vh;
    align-self: center;
    justify-content: center;
    background-color: #41444B;
    color: #ffffff;
    margin-left: 24%;
}