<form [formGroup]="imcForm">
    <div class="mb-4">
        <label for="establecimiento">Establecimiento de Salud</label><br>
        <select name="establecimiento"
            id="establecimiento" formControlName="establecimiento">
            <option value="0">Hola</option>
        </select>
    </div>

    <div class="mb-4">
        <label for="tipologia">Tipología</label><br>
        <select name="tipologia" id="tipologia"
            formControlName="tipologia">
            <option value="0">Hola</option>
        </select>
    </div>

    <div class="mb-4">
        <label for="zona">Zona</label><br>
        <select name="zona" id="zona"
            formControlName="zona">
            <option value="0">Hola</option>
        </select>
    </div>

    <div class="mb-4">
        <label for="provincia">Provincia</label><br>
        <select name="provincia" id="provincia"
            formControlName="provincia">
            <option value="0">Hola</option>
        </select>
    </div>

    <div class="mb-4">
        <label for="distrito">Distrito</label><br>
        <input type="text" name="distrito" id="distrito" formControlName="distrito">
    </div>

    <div class="mb-4">
        <label for="servicio">Servicio y Proceso de Atención</label><br>
        <input type="text" name="servicio" id="servicio" formControlName="servicio">
    </div>

    <div class="mb-4">
        <label for="responsable">Responsable EMC</label><br>
        <input type="text" name="responsable" id="responsable" formControlName="responsable">
    </div>

    <div class="mb-4">
        <label>Integrantes EMC</label><br>
        <form formArrayName="integrantes">
                <div *ngFor="let integrante of integrantes.controls; let
                    i=index" [formGroupName]="i">
                <input class="mt-4" type="text"
                    formControlName="name" placeholder="Integrante">
            </div>
        </form>

        <button class="btn btn-lg btn-dark mt-4 mb-2" (click)="addIntegrante()"><span
                class="glyphicon glyphicon-calendar">+</span></button>
    </div>

    <div class="mb-4">
        <label for="ciclo">Ciclo Nro</label><br>
        <input type="text" name="ciclo" id="ciclo" readonly formControlName="ciclo">
    </div>

    <div class="mb-4">
        <label for="inicio">Fecha Inicio</label><br>
        <app-date-picker (dateSender)="receiveStartDate($event)"></app-date-picker>
    </div>

    <div class="mb-4">
        <label for="fin">Fecha de Finalización</label><br>
        <app-date-picker (dateSender)="receiveEndDate($event)"></app-date-picker>
    </div>
</form>