<div class="mb-4">
    <label for="establecimiento">Establecimiento de Salud</label><br>
    <select class="establecimiento_selection" name="establecimientos"
        id="establecimiento">
        <option value="0">Hola</option>
    </select>
</div>

<div class="mb-4">
    <label for="tipologia">Tipología</label><br>
    <select class="tipologia_selection" name="tipologia" id="tipologia">
        <option value="0">Hola</option>
    </select>
</div>

<div class="mb-4">
    <label for="zona">Zona</label><br>
    <select class="zona_selection" name="zona" id="zona">
        <option value="0">Hola</option>
    </select>
</div>

<div class="mb-4">
    <label for="provincia">Provincia</label><br>
    <select class="provincia_selection" name="provincia" id="provincia">
        <option value="0">Hola</option>
    </select>
</div>

<div class="mb-4">
    <label for="distrito">Distrito</label><br>
    <input type="text" id="distrito">
</div>

<div class="mb-4">
    <label for="zona">Servicio y Proceso de Atención</label><br>
    <input type="text" id="servicio">
</div>

<div class="mb-4">
    <label for="zona">Responsable EMC</label><br>
    <input type="text" id="zona">
</div>


<div class="mb-4">
    <label>Integrantes EMC</label><br>
    <form [formGroup]="form">
        <div formArrayName="member">
            <div *ngFor="let member of members.controls; let i=index"
                [formGroupName]="i">
                <input class="mt-4" id="integrantes_input" type="text"
                    formControlName="name" placeholder="Integrante">
            </div>
        </div>
        <button class="btn btn-lg btn-dark mt-4 mb-2" (click)="addMember()"><span
                class="glyphicon glyphicon-calendar">+</span></button>
    </form>
</div>

<div class="mb-4">
    <label for="ciclo">Ciclo Nro</label><br>
    <input type="text" id="ciclo" readonly value="0">
</div>

<div class="mb-4">
    <label for="ciclo">Fecha Inicio</label><br>
    <app-date-picker></app-date-picker>
</div>

<div class="mb-4">
    <label for="ciclo">Fecha de Finalización</label><br>
    <app-date-picker class="ml-4"></app-date-picker>
</div>