<div class="menu">
    <a routerLink="/identificar"><button>ETAPA IDENTIFICAR</button></a>
    <a routerLink="/analizar"><button>ETAPA ANALIZAR</button></a>
    <a routerLink="/desarrollar"><button>ETAPA DESARROLLAR</button></a>
    <a routerLink="/planificar"><button>ETAPA PLANIFICAR</button></a>
    <a routerLink="/ejecutar"><button>ETAPA EJECUTAR</button></a>
    <a routerLink="/verificar"><button>ETAPA VERIFICAR</button></a>
    <a routerLink="/actuar"><button>ETAPA ACTUAR</button></a>
</div>