<main>
    <div class="form-menu ml-2 mt-4">
        <div class="card pb-4">
            <div class="card-header pt-3 pl-4 pb-3 ">Datos Etapa Analizar</div>
            <div class="pl-4 pt-4 mb-4">

                <div mt-4>
                    <label>Causas</label><br>
                    <app-images-plus-text></app-images-plus-text>
                    
                </div>

                <div class="mt-4">
                    <label>Efectos</label><br>
                    <app-images-plus-text></app-images-plus-text>
                </div>

                <div class="mt-4">
                    <label>Ambito o aspecto de la causa</label><br>
                    <app-aspectos-menu></app-aspectos-menu>
                </div>
                
                <div class="mt-4">
                    <label>Dimensiones de la calidad afectadas</label>
                    <app-dimensiones-menu></app-dimensiones-menu>
                </div>

            </div>
        </div>
    </div>

</main>



<app-save-data-btn></app-save-data-btn>
