<main>
    <div class="form-menu ml-2 mt-4">
        <div class="card pb-4">
            <div class="card-header pt-3 pl-4 pb-3 ">Datos Etapa Analizar</div>
            <form [formGroup]="form" class = "pl-4 pt-4 mb-4">
                <div mt-4>
                    <label>Causas</label><br>
                    <app-images-plus-text (filesSender)="receiveCausasFiles($event)"></app-images-plus-text>
                </div>

                <div class="mt-4">
                    <label>Efectos</label><br>
                    <app-images-plus-text (filesSender)="receiveEfectosFiles($event)"></app-images-plus-text>
                </div>

                <div class="mt-4">
                    <label>Ambito o aspecto de la causa</label><br>
                    <app-aspectos-menu (sender)="receiveSelectedAspecto($event)"></app-aspectos-menu>
                </div>
                
                <div class="mt-4">
                    <label>Dimensiones de la calidad afectadas</label>
                    <app-dimensiones-menu (dimensionesSender)="receiveSelectedDimensiones($event)"></app-dimensiones-menu>
                </div>

            </form>
        </div>
    </div>

</main>



<app-save-data-btn (click)="save()" ></app-save-data-btn>
