.inputTypeForm{
    width: 40%;
}

.inputTypeForm input{
    width: 20%;
    height: 2vh;
    border-radius: 1.4vh;
    padding-right: 2%;
}

input{
    width: 50%;
    height: 6vh;
    border-radius: 1.4vh;
    padding-left: 2%;
    padding-right: 2%;
}