<app-drop-image-box *ngIf="imageBoxVisible" (filesSender)="receiveFiles($event)"></app-drop-image-box>
<input class="m-4" type="text" name="causas_text" *ngIf="causasTextVisible">


<form [formGroup]="inputTypeOpForm" class="inputTypeForm">
    <input type="radio" value="oi"
        name="op" formControlName="op" (change)="onChange()"
        type="radio">
    <label for="oi">Solo imagenes</label>
    <br>
    <input type="radio" value="ot"
        name="op" formControlName="op"
        (change)="onChange()" type="radio">
    <label for="ot">Solo texto</label>
    <br>
    <input type="radio" value="it"
        name="op" formControlName="op"
        (change)="onChange()" type="radio">
    <label for="it">Imagenes y texto</label>

</form>