
.parent {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 87vh;

}

.parent .left{
    padding:30vh;
    padding-top: 25%;
    padding-left: 17vh;
    padding-right: 17vh;
    
}

.parent .left h4{
    font-size: 1.7rem;
    font-weight: bold;
    color: #024FA8;
}

.parent .left p{
    font-size: 1.3rem;
}

.parent .right {
    background-image: url(https://images.unsplash.com/photo-1666214280429-d3985e2ef0b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.newFormButton {
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #024fa8;
	display:inline-block;
	cursor:pointer;
	color:#2b2e34;
	font-family:Courier New;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
}
.newFormButton:hover {
	background-color:#ffc934;
}
.newFormButton:active {
	position:relative;
	top:1px;
}

   