<main class="parent">
    <div class="left">
        <h4>Gestión de Calidad</h4>
        <br>
        <p>El mejoramiento de la calidad debe abordarse en conjunto, tanto en los recursos (insumos), 
           como en las actividades realizadas (procesos), no consiste solamente en añadir nuevos recursos a un sistema, sino además realizar
           cambios en la organización, con el fin de dar el mejor uso a los recursos.</p>
        <br>
        <a href="/menu"><button class="newFormButton">Nuevo Formulario</button></a>
    </div>  

    <div class="right"></div>

    
</main>