<main>
    <div class="form-menu ml-2 mt-4">
        <div class="card pb-4">
            <div class="card-header pt-3 pl-4 pb-3 ">Datos: Etapa Actuar</div>
            <form class="pl-4 pt-4 mb-4" [formGroup]="form">

                <label for="situacion">Situación actual</label><br>
                <textarea formControlName="situacion_actual" rows="6" cols="80"
                    name="situacion"
                    placeholder="Escriba aquí qué es lo que el Equipo de
                    Mejoramiento de la Calidad decidió hacer luego de la
                    implementación de este ciclo rápido para el mejoramiento
                    y de observar los resultados obtenidos." class="mb-4"></textarea><br>
                <label for="firmas">Firmas responsables del proceso</label><br>
                <div style="padding: 2vh;">
                    <div class="p-4" formGroupName="aprobado">
                        <label for="">Aprobado por:</label>

                        <div class="card p-4">
                            <label class="mt-4">Nombres</label><br>
                            <input type="text" formControlName="nombres">


                            <label class="mt-4">Cargo</label><br>
                            <input type="text" formControlName="cargo">
                        </div>
                    </div>

                    <div class="p-4" formGroupName="revisado">
                        <label class="mt-4">Revisado por:</label>
                        <div class="card p-4">
                            <label class="mt-4">Nombres</label><br>
                            <input type="text" formControlName="nombres">

                            <label class="mt-4">Cargo</label><br>
                            <input type="text" formControlName="cargo">
                        </div>
                    </div>

                    <div class="p-4" formArrayName="elaboradores">
                        <label class="mt-4">Elaborado por:</label>

                        <div class="card p-4 mt-4"
                            *ngFor="let elaborador of elaboradores.controls; let
                            i= index" formGroupName="{{i}}">
                            <label for="">Nombres</label>
                            <input type="text" formControlName="nombres">
                            <label class="mt-4">Cargo</label>
                            <input type="text" formControlName="cargo">
                        </div>
                        <button class="btn btn-md btn-dark mt-4 mb-2"
                            (click)="addElaborador()"><span
                                class="glyphicon glyphicon-calendar">+</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<app-save-data-btn> </app-save-data-btn>class="c"