<form spellcheck="false" autocomplete="true" class="row" [formGroup]="form"
    class="calendar-card">
    <input
        type="text"
        id="picker"
        readonly
        [value]="today"
        placeholder="Escoja la fecha."
        [matDatepicker]="startPicker"
        (dateChange)="dateChangeHandler($event.value)">
        <button type="button" (click)="startPicker.open()" class="ml-4">
            <i class="fa-solid fa-calendar"></i>
        </button>
    <mat-datepicker #startPicker></mat-datepicker>

</form>